@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Entertainer
<table class="pure-table pure-table-bordered">
    <thead class="fw-bold">
        <tr>
            <td>Stage Name</td>
            <td>SSN</td>
            <td>Street Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip Code</td>
            <td>Phone Number</td>
            <td>Website</td>
            <td>Email Address</td>
            <td>Date Entered</td>
        </tr>
    </thead>
   
        <tbody>
            <tr>
                <td>@Model.EntStageName</td>
                <td>@Model.EntSsn</td>
                <td>@Model.EntStreetAddress</td>
                <td>@Model.EntCity</td>
                <td>@Model.EntState</td>
                <td>@Model.EntZipCode</td>
                <td>@Model.EntPhoneNumber</td>
                <td>@Model.EntWebPage</td>
                <td>@Model.EntEmailAddress</td>
                <td>@Model.DateEntered</td>
                <td><a asp-controller="Home" asp-action="Edit" asp-route-EntertainerId="@Model.EntertainerId" class="btn btn-info">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-EntertainerId="@Model.EntertainerId" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    

</table>